.book-cover-mini {
  height: 200px;
  width: 142px;
}

.book-title {
  font-size: 16px;
  font-weight: 700;
  height: 15px;
  margin: 12px 61px 4px 28px;
  width: 109px;
}

.book-author {
  color: $gray;
  font-size: 14px;
  height: 14px;
  margin: 4px 61px 0 28px;
  width: 109px;
}

.book-item {
  align-items: center;
  background-color: $white;
  box-shadow: $shadow-black-05;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: 18px;
  padding: 28px 28px 23px;
  width: 198px;
}

.list-container {
  background-color: $wild-sand;
  display: flex;
  flex-flow: row wrap;
  padding: 36px 233px 26px;
  width: 100%;
}

.navbar {
  align-items: center;
  background-color: $white;
  border-top: 6px solid $cerulean;
  box-shadow: 0 4px 10px 0 $black-05;
  display: flex;
  height: 70px;
  justify-content: space-between;
  left: 0;
  padding: 0 270px;
  position: sticky;
  top: 0;
  width: 100%;
}

.w-logo {
  height: 70px;
  width: 212px;
}

.logout {
  font-size: 18px;
  height: 18px;
  margin-bottom: 6px;
  width: 63px;
}
