@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.title {
  border-bottom: 4px solid $earls-green;
  font-size: 32px;
  font-weight: bold;
  padding: 12px 0;
  width: 100%;
}

.subtitle {
  margin-right: 8px;
  font-size: 20px;
  font-weight: bold;
}

.placeholder {
  color: $gray;
  font-size: 20px;
}

.description {
  margin: 36px 0;
}

.genre {
  font-size: 24px;
  font-weight: bold;
}

.book-detail {
  margin-left: 26px;
  width: 540px;
}

.main-container {
  box-shadow: 4px 4px 10px 0 $black-05;
  display: flex;
  height: 416px;
  margin: 24px;
  width: 900px;
}

.book-cover {
  height: 368px;
  width: 261px;
}

.book-container {
  display: flex;
  margin: 24px;
}

.cover-container {
  position: relative;
  margin-right: 26px;
}

.badge {

  &::after {
    background: url(images/badge.png) center / contain no-repeat;
    bottom: 271.71px;
    content: '';
    height: 118.57px;
    left: 199.73px;
    position: absolute;
    transform: rotate(15deg);
    width: 94.53px;
  }
}
