@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
}

.placeholder {
  color: $gray;
  font-size: 20px;
}

.description {
  padding: 18px 0;
}

.genre {
  font-size: 24px;
  font-weight: bold;
}

.separator {
  background-color: $earls-green;
  height: 4px;
  margin-bottom: 18px;
}

.book-detail {
  margin-left: 26px;
  width: 540px;
}

.main-container {
  display: flex;
  margin: 24px;
}

.book-cover {
  height: 368px;
  margin-right: 26px;
  width: 261px;
}
