@import 'src/scss/variables/colors';
@import 'src/scss/variables/responsive-values';

.navbar {
  align-items: center;
  background-color: $white;
  border-top: 6px solid $cerulean;
  box-shadow: 0 4px 10px 0 $black-05;
  display: flex;
  height: 70px;
  justify-content: space-between;
  left: 0;
  padding: 0 300px 0 265px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.w-logo {
  height: 70px;
  width: 212px;
}

.logout {
  color: $black;
  font-size: 18px;
  height: 18px;
  width: 63px;
}

.shopping-cart {
  height: 24px;
  width: 22px;
}

.cart-container {
  position: relative;
}

.corner-items {
  display: flex;
  align-items: center;
  width: 117px;
  justify-content: space-between;
}

.book-counter {
  background-color: $cerulean;
  border-radius: 50%;
  bottom: 16px;
  color: $white;
  font-size: 10px;
  height: 15px;
  left: 16px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  width: 15px;
}
