@import 'src/scss/vbles/colors';
@import 'src/scss/vbles/generic-styles';

:host {
  width: 100%;
}

.sign-up-btn {
  @extend %generic-btn;
  background-color: $earls-green;
  color: $white;
  margin-top: 24px;
}

.login-btn {
  @extend %generic-btn;
  border: 2px solid $earls-green;
  color: $earls-green;
}
