<div class="modal-window">
  <div class="shopping-list">
    <div class="shopping-header">
      <h1 class="shopping-title">Tu carrito de compras</h1>
      <button type="button" class="close-icon" (click)="closeModal.emit()"></button>
    </div>
    <ul class="books-list">
      <li *ngFor="let book of books | async; let i = index" class="book-item">
        <span class="book-description">{{ book.title }} - {{ book.author }}</span>
        <button type="button" class="delete-icon" (click)="removeBook(i)"></button>
      </li>
    </ul>
  </div>
</div>
