@import 'src/scss/variables/colors';
@import 'src/scss/variables/constant-values';

.book-cover-mini {
  height: 200px;
  width: 142px;
}

.book-title {
  color: $black;
  font-size: 16px;
  font-weight: 700;
  height: 15px;
  margin: 16px 61px 4px 28px;
  width: 109px;
}

.book-author {
  color: $gray;
  font-size: 14px;
  height: 14px;
  margin: 4px 61px 0 28px;
  width: 109px;
}

.book-item {
  align-items: center;
  background-color: $white;
  box-shadow: $shadow-black-05;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: 18px;
  padding: 28px 28px 23px;
  position: relative;
  width: 198px;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

.add-icon {
  bottom: 5px;
  background: center / cover no-repeat url('assets/add-icon.png');
  height: 32px;
  position: absolute;
  right: 5px;
  width: 31px;
}
