@import 'src/scss/vbles/colors';

.form-container {
  background-color: $wild-sand;
  border-top: 8px solid $cerulean;
  height: 100%;
  margin: 15% 40%;
  padding: 20px 24px 24px;
  width: 300px
}

.form-elements {
  align-items: center;
  border-bottom: 2px solid $silver-chalice;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding-bottom: 16px;
  width: 100%;
}

.w-logo {
  height: 70px;
  width: 212px;
}

.data-input {
  border-radius: 5px;
  height: 32px;
  width: 252px;
}

.data-label {
  align-self: flex-start;
  font-size: 16px;
  height: 22px;
  margin: 16px 0 8px;
  width: 100%;
}

.errorMsge {
  color: red;
}
