<div class="main-container">
  <a class="back-link" [routerLink]="['/auth/books']" i18n="Back|Back placeholder link@@backLink">Back</a>
  <div class="book-container">
    <div class="header">
      <h1 class="title">{{ book.title }}</h1>
      <span class="placeholder genre">{{ book.genre }}</span>
    </div>
    <div class="cover-container" [ngClass]="{ 'badge':book.author === bestSellerAuthor }">
      <img [src]="book.image_url" class="book-cover" alt="Book cover">
    </div>
    <div class="book-detail">
      <div class="description">
        <h4 class="subtitle" i18n="Book author|Book author placeholder@@bookAuthor">Author of the book:</h4>
        <p class="placeholder">{{ book.author }}</p>
      </div>
      <div class="description">
        <h4 class="subtitle">Editorial:</h4>
        <p class="placeholder">{{ book.editorial }}</p>
      </div>
      <div class="description">
        <h4 class="subtitle" i18n="Publication year|Publication year placeholder@@publicationYear">Publication year:</h4>
        <p class="placeholder">{{ book.year }}</p>
      </div>
    </div>
  </div>
</div>
