<form [formGroup]="loginForm" class="form-container" (ngSubmit)="onSubmit()">
  <div class="form-elements">
    <img src="assets/w-logo.png" alt="Wolox logo" class="w-logo">
    <label class="data-label">Email</label>
    <input class="data-input" type="email" formControlName="email">
    <span class="error-message" *ngIf="loginForm.get('email').touched">
      {{ errorMessage('email') }}
    </span>
    <label class="data-label">Password</label>
    <input class="data-input" type="password" formControlName="password">
    <span class="error-message" *ngIf="loginForm.get('password').touched">
      {{ errorMessage('password') }}
    </span>
    <button class="login-btn" type="submit" [disabled]="loginForm.invalid">Login</button>
  </div>
  <button class="sign-up-btn" type="button" [routerLink]="['/sign-up']">Sign Up</button>
</form>
